{% load static %}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tara Cafe</title>


    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooplate-antique-cafe.css' %}">




</head>

<body>
    <div id="intro" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'backimage/8.jpg' %}">
        <nav id="tm-nav" class="fixed w-full">
            <div class="tm-container mx-auto px-2 md:py-6 text-right">
                <button class="md:hidden py-2 px-2" id="menu-toggle"><i
                        class="fas fa-2x fa-bars tm-text-gold"></i></button>
                <ul class="mb-3 md:mb-0 text-2xl font-normal flex justify-end flex-col md:flex-row">
                    <li class="inline-block mb-4 mx-4"><a href="#intro" class="tm-text-gold py-1 md:py-3 px-4">Home <i
                                class="fa-solid fa-house"></i></a></li>
                    <li class="inline-block mb-4 mx-4"><a href="#menu" class="tm-text-gold py-1 md:py-3 px-4">Menu <i
                                class="fa-solid fa-mug-hot"></i></i></a></li>
                    <li class="inline-block mb-4 mx-4"><a href="#about" class="tm-text-gold py-1 md:py-3 px-4">About &
                            Contact <i class="fa-solid fa-address-card"></i></a></li>

                </ul>
            </div>
        </nav>
        <div class="image-slider">
            {% for img in imageslider %}
            <div class="image-item">
                <div class="image">
                    <img class="img" src="{{ img.image}}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>



        <div class="container mx-auto px-2 tm-intro-width">

            <div class="sm:pb-0 sm:pt-0 py-0">
                <div class=" bg-opacity-70 p-12 mb-5 text-center">
                    <img src="{% static 'logoimage/2.png' %}" alt="">


                </div>

                <div class="text-center">
                    <div class="inline-block">
                        <a href="#menu"
                            class="flex justify-center items-center bg-black bg-opacity-70 py-6 px-8 rounded-lg font-semibold tm-text-2xl tm-text-gold hover:text-gray-200 transition">
                            <i class="fas fa fa-coffee mr-3"></i>
                            <span>Nhấn vào để khám phá...</span>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Intro -->







    <!-- Cafe Menu -->
    <div id="menu" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'backimage/6.jpg' %}">
        <div class="container mx-auto tm-container py-24 sm:py-48">
            <div class="text-center mb-16">
                <h1 class="bg-white tm-text-brown py-6 px-12 text-5xl font-medium inline-block rounded-md"> Menu </h1>
            </div>
            <div class="flex flex-col lg:flex-row justify-around items-center">
                <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-black tm-item-container">
                    {% for menu in menu %}
                    <div class="flex items-start mb-6 tm-menu-item">
                        <img src="{{ menu.image }}" alt="Image" class="rounded-md">
                        <div class="ml-3 sm:ml-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">{{menu.name}}</h3>
                            <div class="text-white text-md sm:text-lg font-light">{{menu.price}}</div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-black tm-item-container">
                    {% for menu2 in menu2 %}
                    <div class="flex items-start justify-end mb-6 tm-menu-item-2">
                        <div class="text-right mr-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">{{menu2.name}}</h3>
                            <div class="text-white text-md sm:text-lg font-light mb-1">{{menu2.price}}</div>
                        </div>
                        <img src="{{ menu2.image }}" alt="Image" class="rounded-md">
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div id="about" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'backimage/3.jpg' %}">
        <div class="flex flex-col lg:flex-row justify-around items-center lg:items-stretch">

            <div class="flex-1 rounded-xl px-10 py-12 m-5 bg-white bg-opacity-80 tm-item-container">
                <h2 class="text-3xl mb-6 tm-text-green">Liên hệ với chúng tôi:</h2>
                <p class="mb-10 text-lg">
                    <span class="block mb-2"><i class="fa-solid fa-location-dot"></i> &nbsp; <a
                            class="hover:text-yellow-600 transition">{{ map_configs.address}}.</a></span>
                    <span class="block"><i class="fa-solid fa-phone"></i>&nbsp; <a
                            class="hover:text-yellow-600 transition">{{ map_configs.phone}}</a></span>
                    <span class="block"><i class="fa-brands fa-internet-explorer"></i>&nbsp; <a
                            href="https://taracafe.herokuapp.com/" class="hover:text-yellow-600 transition">{{
                            map_configs.website}}</a></span>
                </p>
                <div class="text-center">
                    <a href="https://www.google.com/maps/place/91+Nguy%E1%BB%85n+Thanh+Tuy%E1%BB%81n,+Ph%C6%B0%E1%BB%9Dng+2,+T%C3%A2n+B%C3%ACnh,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7970516,106.6590871,17z/data=!3m1!4b1!4m5!3m4!1s0x317529317eb87c19:0x583603f07d37d7bc!8m2!3d10.7970463!4d106.6612758?hl=vi-VN"
                        class="inline-block text-white text-2xl pl-10 pr-12 py-6 rounded-lg transition tm-bg-green">
                        <i class="fas fa-solid fa-map-location-dot mr-8"></i>
                        Open Maps
                    </a>
                </div>
            </div>
            <div class="flex-1 rounded-xl p-12 pb-14 m-5 bg-white bg-opacity-80 tm-item-container">
                <h2 class="mb-6 tm-text-green text-3xl font-medium">Đôi lời về Tara Cafe</h2>
                <p class="mb-6 text-base leading-8">
                    {{ map_configs.about }} <i class="fa-solid fa-heart" style="color:red"></i>
                </p>
            </div>


        </div>

    </div>



    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>






    <script>

        function checkAndShowHideMenu() {
            if (window.innerWidth < 768) {
                $('#tm-nav ul').addClass('hidden');
            } else {
                $('#tm-nav ul').removeClass('hidden');
            }
        }

        $(function () {
            var tmNav = $('#tm-nav');
            tmNav.singlePageNav();

            checkAndShowHideMenu();
            window.addEventListener('resize', checkAndShowHideMenu);

            $('#menu-toggle').click(function () {
                $('#tm-nav ul').toggleClass('hidden');
            });

            $('#tm-nav ul li').click(function () {
                if (window.innerWidth < 768) {
                    $('#tm-nav ul').addClass('hidden');
                }
            });

            $(document).scroll(function () {
                var distanceFromTop = $(document).scrollTop();

                if (distanceFromTop > 100) {
                    tmNav.addClass('scroll');
                } else {
                    tmNav.removeClass('scroll');
                }
            });

            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        });
    </script>
</body>

</html>